.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
    @media(min-width: $mobile-breakpoint) {
      display: none;
    }
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;

}
.video-container video.fillWidth {
    // width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


//     BUTTONS    //

#big-family-button {
  margin-left: 68px;
  @media(min-width: $tablet-breakpoint){
    margin-left: 15px;
  }
  @media(min-width: $desktop-breakpoint){
    margin-left: 135px;
  }
}

#little-family-button {
  margin-left: 68px;
  @media(min-width: $tablet-breakpoint){
    margin-left: 15px;
  }
  @media(min-width: $desktop-breakpoint){
    margin-left: 135px;
  }
}
